{{!-- 
  <div class="title">
    <a href="{{post_title}}" target="_blank">{{title}}</a>
    <span>{{body}}</span>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div> --}}

<article class="post">
<div class= "card-margins">
<div class="card">
  <div class="card-header bg-info card-title">
    {{title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{body}}</p>
      <footer class="blockquote-footer">{{created_at}} <cite title="Source Title"> by {{user.username}}</cite></footer>
    </blockquote>
  </div>
</div>
</article>
<div>